@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	*::selection {
		@apply bg-primary;
		opacity: 1;
		color: white;
	}

	html {
		@apply bg-background;
	}

	* {
		box-sizing: border-box;
		user-select: none;
		overscroll-behavior: none;
		overflow-wrap: anywhere;
	}

	/* For webkit-based browsers (Chrome, Safari) */
	::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: #888;
		border-radius: 9999px;
	}

	/* For Firefox */
	html {
		scrollbar-width: thin;
	}

	html {
		scrollbar-color: #888 transparent;
	}
}
