@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	*::selection {
		@apply bg-primary;
		opacity: 1;
		color: black;
	}

	* {
		box-sizing: border-box;
	}

	* {
		user-select: none;
		outline: none;
		@apply outline-border;
	}

	[data-focus-visible] {
		outline: auto;
	}

	html {
		@apply bg-background;
	}

	*::-webkit-scrollbar-track {
		background-color: transparent;
		border-radius: 6px;
	}
	*::-webkit-scrollbar-thumb {
		background-color: #bfbfbf;
		border-radius: 6px;
	}
	*::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
	* {
		scrollbar-color: #bfbfbf #00000000;
		scrollbar-width: thin;
	}
}
